<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
</head>
<body>
<h1>Login</h1>
<div th:if="${error!= null}" th:utext="${session[SPRING_SECURITY_LAST_EXCEPTION]}">
    <h2>error</h2>
</div>
<form th:action="@{/login}" method="post">
    <div>
        <label for="username">Email:</label>
        <input type="text" id="username" name="username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
</body>
</html>
